body {
    text-align: center;
    border: solid gray 5px;
    font-family: sans-serif;
    max-width: fit-content;
    margin: auto;
}

#help-topic {
    display: none;
    max-width: 360px;
}

#header-panel {
    display: flex;
    justify-content: space-between;
    border: solid blue 2px;
}

#flagcount,
#timer {
    color: #FF4444;
    background-color: black;
    margin: 5px;
    min-width: 60px;
    font-size:26px;
}

#smiley {
    margin: 5px;
    font-size: 30px;
}

#playfield {
    /* may want to change this to flexbox */
    max-width: fit-content;
    border: solid gray 5px;
}

.row {
    display: flex;
}

.cell {
    min-height: 30px;
    min-width: 30px;
    padding: 3px;
    font-weight: bold;
    background-color: #eeeeee;
    margin: 0px;
    border-style: outset;

    display: flex;
    align-items: center;
    justify-content: center;
}

.revealed {
    /* .revealed must be kept BELOW .cell */
    background-color: #cccccc;
    border-style: inset;
}
